.navbar{
    
}

.navbar-dark{
    background-color: black;
    color:white;  
}

.nav-item{    
    padding:0.35rem;
}

.nav-link{
    color:rgb(58, 135, 158);
    text-decoration: none;
    font-size: 1.5rem;
}
.nav-link:hover{
    color:rgb(137, 216, 34);
    text-decoration: none;
    font-size: 1.5rem;
}