<div class="grid-container">        
    <div class="grid-view grid-item">
<h1>Requerimientos</h1>
    <button (click)="solicitarRequerimientos()">Mostrar Requerimientos</button>
    <br>
    <hr>
    <table *ngIf=" requerimientos.length > 0">
        <tr>
            <th *ngFor="let titles of requerimiento  | keyvalue">
                {{titles.key|titlecase}}
            </th>
        </tr>
        <tr *ngFor="let req of requerimientos">
            <td >{{req.area}}</td>
            <td >{{req.descripcion}}</td>
            <td >{{req.cantidad}}</td>
        </tr>
    </table>
</div>

<div  class="grid-formulario grid-item">
<h2>Agregar Requerimiento</h2>

<form class="formaProducto" (ngSubmit) = "guardarRequerimiento()">

    <label for="area">area:</label><input  id="area" name="area"         [(ngModel)]="requerimiento.area"         type="text" placeholder="Area">     <br>
    <label for="descripcion">descripcion:</label><input  id="descripcion" name="descripcion"  [(ngModel)]="requerimiento.descripcion"  type="text" placeholder="Descripcion"><br>
    <label for="cantidad">cantidad:</label><input  id="cantidad" name="cantidad"     [(ngModel)]="requerimiento.cantidad"     type="number" placeholder="Cantidad">   <br>
    <label for="agregar"></label><button id="agregar"  type="submit">Agregar</button>
    
</form>
</div>