<h1>Inventario </h1>
<button (click)="mostrarInventario()">Mostrar Inventario</button>
    <br>
    <hr>
    <table *ngIf=" inventario.length > 0">
        <tr>
            <th *ngFor="let titles of producto | keyvalue">
                {{titles.key|titlecase}}
            </th>
        </tr>
        <tr *ngFor="let inv of inventario">
            <td >{{inv.nombre}}</td>
            <td >{{inv.descripcion}}</td>
            <td >{{inv.material}}</td>
            <td >{{inv.cantidad}}</td>
        </tr>
    </table>

    <h2>Agregar Producto</h2>
    <hr>

    <form class="formaProducto" (ngSubmit) = "guardarInventario()">

        <label for="nombre">nombre:</label> <input id="nombre" name="nombre"      [(ngModel)]="producto.nombre"       type="text"   placeholder="nombre">     <br>
        <label for="descripcion">descripcion:</label> <input id="descripcion" name="descripcion" [(ngModel)]="producto.descripcion"  type="text"   placeholder="descripcion"><br>
        <label for="cantidad">cantidad:</label> <input id="cantidad" name="cantidad"    [(ngModel)]="producto.cantidad"     type="number" placeholder="cantidad">   <br>
        <label for="material">material:</label> <input id="material" name="material"    [(ngModel)]="producto.material"     type="text" placeholder="material">   <br>
        <label for="agregar"></label><button id="agregar" type="submit">Agregar</button>
        
    </form>