/* * {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin:10px;
    padding:0px;
  }
  

  html, body {
    
    background: white;
    margin: 0px;    
    color: #3e4144;
    -webkit-font-smoothing: antialiased;
  }
  
  
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: black;
    border-radius: 5px;
    border: 0px;
    color: white;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
  }
  
  button:hover {
    background-color: #3e4144;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }

  */ 

  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
  *{
    font-family: 'Archivo Black', sans-serif;
    margin:0;
    padding:0;
  }

  table{
    border-radius: 20px;
  }

  table, th, td {
    border: 1px solid black;
    border-collapse:collapse;
    padding:3px;
    background-color:white;
    text-align: center;
  } 
  th{
    background-color: cornflowerblue;
    
  }
  
  

  .formaProducto{
    display: inline-block;
    padding: 5px;
    border: 2px solid black;
    background-color: white;
}

  label{
    display:inline-block;
      width:165px;      
  }
   
  
  input{
    margin: 2px;
    height: 1.5rem;
  } 
  button{
    height:2rem;
    border-radius: 0.5rem;
    padding:0.5rem;
    padding-bottom: 1.5rem;
    box-shadow: -2px -2px  inset gray ; 
  }

   button:active{
    box-shadow:  2px 2px inset gray ;
  } 

  hr{
    margin: 2px 0;
  }

  .grid-container{
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows: 50% 50%;
}
